@font-face {
    font-family: 'komika_axisregular';
    src: url('../myfonts/KOMIKAX_-webfont.eot');
    src: url('../myfonts/KOMIKAX_-webfont.eot?#iefix') format('embedded-opentype'),
         url('../myfonts/KOMIKAX_-webfont.woff') format('woff'),
         url('../myfonts/KOMIKAX_-webfont.ttf') format('truetype'),
         url('../myfonts/KOMIKAX_-webfont.svg#komika_axisregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
* {
  margin: 0;
}
html, body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -200px;
}

.page-wrap:after {
  content: "";
  display: block;
}

footer, .page-wrap:after {
  height: 200px;
}

#hider{
  display: none;
}
#overlay{
  background-color: rgba(0,0,0,.5);
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  min-width: 100%;
  z-index: 1 !important;
}
body{
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'komika_axisregular';
  color: white;
}
#masthead{
  text-align: center;
  z-index: 9999 !important;
  position: relative;
}
.img-100{
  width: 100%;
}
.mastheadimg{
  max-width: 810px;
}
#tagline{
  max-width: 900px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
 -webkit-text-stroke: 3px black;
  h1{
    font-size: 45px;
    margin-top: -1%;
  }
  h2{
    max-width: 750px;
    margin: 0 auto;
  }
}
.divider{
  height: 5px;
  background-color: white;
  border: 2px solid black;
  width: 100%;
  max-width: 810px;
  margin: 0 auto;
}
.dropdownheight{
  height: 34px;
}
//FORM//

.form-control{
  width: 56%;
}
.ss-q-title{
  width: 87px;
  text-align: left;
  padding-top: 6px;
}
.ss-choice-label{
  font-size: 10px;
}

.nopad{
  padding: 0 !important;
}

//NAV BAR//
.navbar {
    position: relative;
    border-radius: 0 !important;
    background-color: rgba(0,0,0,.4);
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 5px rgba(0,0,0,.2);
    z-index: 9999;
}
.navbar-brand{
  padding: 15px 15px;
}
//FORM//
#ss-form{
  padding-top: 20px;
  margin: 0 auto;
  max-width: 400px;
  border: solid 5px #fff;
  background-color: rgba(0,0,0,.4);
  border-radius: 15px;
  min-height: 100px;
  margin-top: 20px;
  label{
    float: left;
    padding-left: 40px;
  }
  input, .dropdown{
    margin-bottom: 20px;
    color: black;
  }
}
.btn-success{
  -webkit-text-stroke: 2px black;
  font-size: 20px;
  width: 100%;
  color: white !important;
}
#navigation-table{
  margin-top: 20px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.dropdown{
  float: right;
  margin-right: 42px;
  width: 56%;
}
//FOOTER//
footer{
  position: relative;
  bottom: 0;
  width: 100%;
  border-top: solid 5px rgba(0,0,0,.2);
  background-color: rgba(0,0,0,.4);
  z-index: 9999;
  text-align: center;
  .fa-stack{
    margin: 20px 20px;
    font-size: 30px;
  }
}

//modal//

#snapchat-modal{
  z-index: 99999;
  .modal-body{
    padding: 0;
    background-color: black;
  }
  .img-responsive{
    margin: 0 auto;
  }
  .modal-dialog{
    margin-top: 200px;
  }
}

#snapchat-btn{
  cursor: pointer;
  margin: 0 auto;
}


