<footer>
  <div class="container">
    <div class="row">
      <a href="#">
        <span class="fa-stack fa-lg">
          <i style="color: white;" class="fa fa-circle fa-stack-2x"></i>
          <i style="color: black;" class="fa fa-facebook fa-stack-1x fa-inverse"></i>
        </span>
      </a>
      <a href="#">
        <span class="fa-stack fa-lg">
          <i style="color: white;" class="fa fa-circle fa-stack-2x"></i>
          <i style="color: black;" class="fa fa-twitter fa-stack-1x fa-inverse"></i>
        </span>
      </a>
      <a href="#">
        <span class="fa-stack fa-lg">
          <i style="color: white;" class="fa fa-circle fa-stack-2x"></i>
          <i style="color: black;" class="fa fa-instagram fa-stack-1x fa-inverse"></i>
        </span>
      </a>
    </div>
  </div>
</footer>
