<footer>
  <div class="container">
    <div class="row">
      <a href="https://www.facebook.com/brosafari" target="_blank">
        <span class="fa-stack fa-lg">
          <i style="color: white;" class="fa fa-circle fa-stack-2x"></i>
          <i id="facebook" style="color: black;" class="fa fa-facebook fa-stack-1x fa-inverse"></i>
        </span>
      </a>
      <a href="https://twitter.com/brosafari" target="_blank">
        <span class="fa-stack fa-lg">
          <i style="color: white;" class="fa fa-circle fa-stack-2x"></i>
          <i id="twitter" style="color: black;" class="fa fa-twitter fa-stack-1x fa-inverse"></i>
        </span>
      </a>
      <a href="http://instagram.com/brosafari" target="_blank">
        <span class="fa-stack fa-lg">
          <i style="color: white;" class="fa fa-circle fa-stack-2x"></i>
          <i id="instagram" style="color: black;" class="fa fa-instagram fa-stack-1x fa-inverse"></i>
        </span>
      </a>
      <a href="http://open.spotify.com/artist/6d9SnuHI2bRer7c76d8sLq" target="_blank">
        <span class="fa-stack fa-lg">
          <i style="color: white;" class="fa fa-circle fa-stack-2x"></i>
          <i id="spotify" style="color: black;" class="fa fa-spotify fa-stack-1x fa-inverse"></i>
        </span>
      </a>
      <a href="https://www.youtube.com/user/BroSafari" target="_blank">
        <span class="fa-stack fa-lg">
          <i style="color: white;" class="fa fa-circle fa-stack-2x"></i>
          <i id="youtube" style="color: black;" class="fa fa-youtube fa-stack-1x fa-inverse"></i>
        </span>
      </a>
      <a href="https://itunes.apple.com/us/artist/bro-safari/id395671510" target="_blank">
        <img id="itunes" src="https://s3.amazonaws.com/myfangate.com/brosafari2/itunes.png">
      </a>
    </div>
  </div>
</footer>
