<script type="text/javascript">window.submitted=false;</script>
<iframe name="hidden_iframe" id="hidden_iframe" style="display:none;"
  onload="if(window.submitted) {$('.ss-form').html('<center><h1>Thank you for entering!</h1>').css('height','inherit');ga('send', 'event',  'Form', 'Complete', 'Success');}"></iframe>
<div class="ss-form">

<form action="https://docs.google.com/a/trendsettermarketing.net/forms/d/1mf4cwctbuHc_MCYJEkonGJVCtnwm_NdHVVRzBJMnc6o/formResponse" method="POST" id="ss-form" target="hidden_iframe" onsubmit="return validateForm()">

<ol role="list" class="ss-question-list" style="padding-left: 0">

<div class="form-group">
<div class="ss-form-question errorbox-good" role="listitem">
<div dir="ltr" class="ss-item  ss-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_193196971"><div class="ss-q-title">Email:
</div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
<input type="text" name="entry.193196971" value="" class="ss-q-short form-control" id="entry_193196971" dir="auto" aria-label="Email Address:  " title=""placeholder="your@email.com">
<div class="error-message" id="1524149796_errorMessage"></div>
</div></div></div>
</div>

<div class="form-group">
<div class="ss-form-question errorbox-good" role="listitem">
<div dir="ltr" class="ss-item  ss-select"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_404726157"><div class="ss-q-title">Tour Date:
</div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
<select name="entry.404726157" id="entry_404726157" aria-label="Tour Date  " class="form-control">
<option value="">--CHOOSE A TOUR DATE--</option>
<option value="2/21 | CRUSH (Frontier Hall) - Phoenix, AZ">2/21 | Phoenix, AZ - CRUSH (Frontier Hall)</option>
<option value="3/6 | Bassmnt - San Diego, CA">3/06 | San Diego, CA - Bassmnt</option>
<option value="3/7 | Palladium - Hollywood, CA">3/07 | Hollywood, CA - Palladium</option>
<option value="3/8 | XS - Las Vegas, NV">3/08 | Las Vegas, NV - XS</option>
<option value="3/13 | Historic El Rey - Albuquerque, NM">3/13 | Albuquerque, NM - Historic El Rey</option>
<option value="3/14 | The Filmore Auditorium - Denver, CO">3/14 | Denver, CO - The Filmore Auditorium</option>
<option value="3/20 | Opera - Atlanta, GA">3/20 | Atlanta, GA - Opera</option>
<option value="3/23 | Grand Central - Miami, FL">3/23 | Miami, FL - Grand Central</option>
<option value="4/17 | SJSU Event Center - San Jose, CA">4/17 | San Jose, CA - SJSU Event Center</option>
<option value="4/18 | Something Wonderful - Dallas, TX">4/18 | Dallas, TX - Something Wonderful</option>
<option value="4/24 | Echostage - Washington, DC">4/24 | Washington, DC - Echostage</option>
<option value="4/25 | Midway Expo Center - Columbia, MO">4/25 | Columbia, MO - Midway Expo Center</option>
<option value="5/1 | Shaw Conference Centre - Edmonton, AB">5/01 | Edmonton, AB - Shaw Conference Centre</option>
<option value="5/2 | LIC (The Slaughter House) - Tucson, AZ">5/02 | Tucson, AZ - LIC (The Slaughter House)</option>
<option value="5/16 | Bayfront Park - Miami, FL">5/16 | Miami, FL - Bayfront Park</option>
<option value="5/24 | Mysteryland (Bethel Woods Center for the Arts) - Bethel, NY">5/24 | Bethel, NY - Mysteryland (Bethel Woods Center for the Arts)</option>
<option value="6/6 | Wakarusa - Ozark, AR">6/06 | Wakarusa - Ozark, AR</option>
<option value="6/13 | Spring Awakening - Chicago, IL">6/13 | Chicago, IL - Spring Awakening</option>
<option value="8/1 | HARD Summer - Los Angeles, CA">8/01 | Los Angeles, CA - HARD Summer</option>
<option value="9/5 | Electric Zoo - New York, NY">9/05 | New York, NY - Electric Zoo</option>
<option value="ZIP">Request A Show In My City</option>
</select>
</div></div></div>
</div>
<br>
<div id="hider">
<div class="form-group">
<div class="ss-form-question errorbox-good" role="listitem">
<div dir="ltr" class="ss-item  ss-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_684406722"><div class="ss-q-title">Zip Code:
</div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
<input type="text" name="entry.684406722" value="" class="ss-q-short form-control" id="entry_684406722" dir="auto" aria-label="Zip Code  " title="" placeholder="Enter your Zip Code">
<div class="error-message" id="746016777_errorMessage"></div>
</div></div></div>
</div>
</div>

<div class="ss-form-question errorbox-good" role="listitem">
<div dir="ltr" class="ss-item  ss-checkbox"><div class="ss-form-entry">

<ul class="ss-choices" role="group" aria-label="Opt In  "><li class="ss-choice-item"><label class="nopad"><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.1646667108" value="I agree to receive emails from Bro Safari" id="group_1646667108_1" role="checkbox" class="ss-q-checkbox" checked ></span>
<span class="ss-choice-label">I agree to receive emails from Bro Safari</span>
</label></li></ul>
<div class="error-message" id="2091013489_errorMessage"></div>
</div></div></div>

<input type="hidden" name="draftResponse" value="[,,&quot;-8716856056484985597&quot;]
">
<input type="hidden" name="pageHistory" value="0">


<input type="hidden" name="fbzx" value="-8716856056484985597">

<div class="ss-item ss-navigate"><table id="navigation-table"><tbody><tr><td class="ss-form-entry goog-inline-block" id="navigation-buttons" dir="ltr">
<input type="submit" name="submit" value="Submit" id="ss-submit" class="jfk-button jfk-button-action btn btn-success"></td>
</tr></tbody></table></div></ol>

</form></div>
