<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand brand" href="/">
        <img alt="Brand" src="https://s3.amazonaws.com/myfangate.com/brosafari2/logo.png">
      </a>
    </div>
  </div>
</nav>
